XML/producto3.dtd

<!ELEMENT lista (producto+)>
<!ELEMENT producto (nombre, fabricante, precio+)>
<!ATTLIST producto
    referencia ID #REQUIRED
    color NMTOKEN #IMPLIED>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT fabricante (empresa, localidad?)>
<!ELEMENT empresa (#PCDATA)>
<!ATTLIST empresa pais CDATA #IMPLIED>
<!ELEMENT localidad (#PCDATA)>
<!ELEMENT precio (#PCDATA)>
<!ATTLIST precio
    cliente (final|distribuidor) #REQUIRED
    moneda (euro|dolar) "euro"
    iva CDATA #FIXED "18%">